# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#PICIDE
*.p1
*.d
*.pre
*.p1.d
*.cmf
*.elf
*.hex
*.hxl
*.lst
*.map
*.mum
*.obj
*.rlf
*.sdb
*.sym
*.xml
*.mk
*.properties
*.bash
*.log
*.inx

#source insight
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*WK3


# Debug files
*.dSYM/
*.su
